name: ci

on:
  push:
    branches:
      - 'main'
env:
  DOCKERHUB_REGISTRY: docker.io
  HUAWEIHUB_REGISTRY: swr.cn-north-1.myhuaweicloud.com
  ALIYUNHUB_REGISTRY: registry.cn-beijing.aliyuncs.com
  IMAGE_NAME: kubespray-file-server
  IMAGE_VERSION: v2.20

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: ${{ env.DOCKERHUB_REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to AliyunHub
        uses: docker/login-action@v2
        with:
          registry: ${{ env.ALIYUNHUB_REGISTRY }}
          username: ${{ secrets.ALIYUNHUB_USERNAME }}
          password: ${{ secrets.ALIYUNHUB_TOKEN }}
      -
        name: Login to HuaweiHub
        uses: docker/login-action@v2
        with:
          registry: ${{ env.HUAWEIHUB_REGISTRY }}
          username: ${{ secrets.HUAWEIHUB_USERNAME }}
          password: ${{ secrets.HUAWEIHUB_TOKEN }}
      -
        name: Build and push ${{ env.IMAGE_NAME }} images
        uses: docker/build-push-action@v3
        with:
          context: ./images/${{ env.IMAGE_NAME }}
          file: ./images/${{ env.IMAGE_NAME }}/Dockerfile
          push: true
          tags: |
            ${{ env.DOCKERHUB_REGISTRY }}/kanzihuang/${{ env.IMAGE_NAME }}:${{ env.IMAGE_VERSION }}
            ${{ env.ALIYUNHUB_REGISTRY }}/kanzihuang/${{ env.IMAGE_NAME }}:${{ env.IMAGE_VERSION }}
            ${{ env.HUAWEIHUB_REGISTRY }}/kanzihuang/${{ env.IMAGE_NAME }}:${{ env.IMAGE_VERSION }}
